{% extends 'layout/base.html' %}

{% block title %}PHIẾU KHÁM{% endblock %}

{% block content %}

<div class="col-lg-10 col-md-12 container">
    <div class="appoinment-wrap mt-5 mt-lg-0">
        <form class="appoinment-form">
            <h2 class="mb-2 title-color">LẬP PHIẾU KHÁM</h2><br>
            <div class="row" >
                <div class="form-group col-md-10">
                    <div class="form-group">
                        <select class="form-control" id="pt" name="patient_id" required>
                            {%for s in p%}
                            <option value="{{s.id}}">{{s.id}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" class="btn btn-main-2 btn-round-full btn-icon">Tìm Bệnh Nhân</button>
                </div>
            </div>
        </form>
        <form class="appoinment-form" method="post" action="#">
            <div class="form-group">
                <h6>Mã bệnh nhân</h6>
                <input name="p_id"  class="form-control" value="{{patient.id}}" placeholder="{{patient.id}}" readonly>
            </div>
            <div class="form-group">
                <h6>Tên bệnh nhân</h6>
                <input name="name"  class="form-control" placeholder="{{patient.name}}" readonly>
            </div>
            <div class="form-group">
                <h6>Triệu chứng</h6>
                {% if symptom %}
                <input  class="form-control" placeholder="{{symptom}}" required >
                {% else %}
                <input name="symptom" class="form-control" placeholder="Thêm triệu chứng" required>
                {% endif %}
            </div>
            <div class="form-group">
                <h6>Dự đoán bệnh</h6>
                {% if guess %}
                <input class="form-control" placeholder="{{guess}}" required >
                {% else %}
                <input name="guess"  class="form-control" placeholder="Thêm dự Đoán Bệnh" required>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-main-2 btn-round-full btn-icon" > Lưu</button>
        </form>
    </div>
    <form class="appoinment-form" method="post">
        <h4 class="mb-2 title-color">THÊM THUỐC VÀO PHIẾU KHÁM</h4><br>
        <div class="row">
            <div class="form-group col-md-2">
                <select class="form-control" id="mc" name="medicine_id">
                    <option>Loại Thuốc</option>
                    {%for s in m%}
                    <option value = {{s.id}}>{{s.name}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="form-group col-md-0">
            </div>
            <div class="form-group col-md-3">
                <input name="quantily" id="priceK" class="form-control" placeholder="Số lượng" required>
            </div>
            <div class="form-group col-md-7">
                <input name="user_manual" id="priceT" class="form-control" placeholder="Cách dùng" required>
            </div>
        </div>
        <button type="submit" class="btn btn-main-2 btn-round-full btn-icon" >Thêm Thuốc</button>
    </form><br>
     {%if mc_id%}
        <div class="container col-md-12">
          <h4 class="mb-2 title-color">DANH SÁCH THUỐC</h4><br>
          <p>Phếu khám: {{mc_id}}</p>
          <table class="table border border-secondary" >
            <thead>
              <tr>
                <th>STT</th>
                <th>Thuốc</th>
                <th>Đơn vị</th>
                <th>Số lượng</th>
                <th>Cách dùng</th>
              </tr>
            </thead>
            <tbody>
            {% for m in mc_list %}
            <tr>
                <td>1</td>
                <td>{{m[0]}}</td>
                <td>{{m[3]}}</td>
                <td>{{m[1]}}</td>
                <td>{{m[2]}}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
        <button type="submit" class="btn btn-main-2 btn-round-full btn-icon" ><a style="color: white" href="{{ url_for('medicalcertificate') }}">Hoàn thành</a></button><hr>
    {%endif%}
</div>
{% endblock %}