{% extends 'layout/base.html' %}

{% block title %}Thanh Toán{% endblock %}

{% block content %}
<section class="section mc">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12 col-md-12 ">
				<div class="appoinment-wrap mt-5 mt-lg-0">
					<h2 class="mb-2 title-color">THANH TOÁN HÓA ĐƠN</h2>
                    <br>
                    <form>
                        <h5>Chọn phiếu khám</h5>
                        <div class="form-group">
                            <select class="form-control" id="PK" name="pk">
                                <option>Chọn Phiếu Khám</option>
                                {% for s in mc %}
                                <option>{{s.id}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <a href="#priceK"><button class="btn btn-danger" type="submit">xuất</button></a>
                    </form>
                    {% if pk_id %}
                    <form id="#" class="appoinment-form" method="post" action="#">
                        <table class="table" border="1">
                            <tr><th colspan="2" style="text-align: center;">HÓA ĐƠN THANH TOÁN</th></tr>
                            <tr>
                                <td>
                                    Họ và tên: {{pk[0].name}}
                                </td>
                                <td>
                                    Ngày khám: {{pk[0].healthcheck_date.strftime('%d-%m-%Y')}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Tiền khám: {{ '{:,.1f}'.format(tienkham.value)}}
                                </td>
                                <td>
                                    Tiền thuốc: {{'{:,.1f}'.format(sum)}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" > Tổng tiền: {{tienkham.value + sum}}</td>
                            </tr>
                        </table>

                        <button class="btn btn-danger" type="submit" >Thanh toán</button>
                    </form>
                    {% endif %}
                </div>
			</div>
		</div>
	</div>
</section>
{% endblock %}